{% extends "layout.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<img id="myimg" src="/home/pi/rewind/static/preview.jpg">
<p>See something interesting?</p>
<a class="btn btn-primary" href="/gif">Snap a Gif!</a>
{% endblock %}}

{% block javascript %}
<script>
    $(document).ready(function () {
        setInterval(function(){
            $("#myimg").attr("src", "/home/pi/rewind/static/preview.jpg?"+new Date().getTime());
        },2000);
    });
</script>
{% endblock %}